language: julia
os:
  - linux
#  - osx

julia:
  - 1.1
  - 1.0
  # - nightly

matrix:
  allow_failures:
  - julia: nightly

notifications:
  email:
    on_success: never
    on_failure: never

jobs:
  include:
    - stage: "Documentation"
      julia: 1.1
      os: linux
      script:
        - julia -e 'using Pkg; Pkg.add("Documenter"); pkg"add https://github.com/JuliaDynamics/DrWatson.jl"'
        - julia -e 'using Pkg; Pkg.add("BSON"); Pkg.add("DataFrames")'
        - julia docs/make.jl
      after_success: skip
