@charset "UTF-8";

// This template file overrides some of the Documenter theme variables to customize the theme:
$themename: "documenter-light"; // CSS file must be called `$(themename).css`
// The customizable varibles can be found here:
// https://github.com/JuliaDocs/Documenter.jl/tree/master/assets/html/scss
// under documenter/_variables or documenter/_overrides. But some stuff are Bulma defaults
// as well, so you may need to look them up too: https://bulma.io/documentation/customize/variables/

// Two cool helper functions:
$lightness-unit: 8% !default;
// Uses adjust-color to create a darker version of $color
@function darken-color($color, $factor) {
  @return adjust-color($color, $lightness: -$factor*$lightness-unit);
}
// Uses adjust-color to create a lighter version of $color
@function lighten-color($color, $factor) {
  @return adjust-color($color, $lightness: $factor*$lightness-unit);
}

////////////////////////////////////////////////////////////////////////
// This defines the JuliaDynamics color scheme:
$maincolor: #644e99;
$secondcolor: #178b8f; // secondary color that serves as accents, eg. links
$mainwhite: #fff; //#fafafa;
$mainblack: #202020;
////////////////////////////////////////////////////////////////////////

$boldcolor: $maincolor; // darken-color($maincolor, 1);

// this sets the default background color for the documentation, affecting the sidebar color,
// the --- lines, as well as the codeblock background, and many other things, see
// the overrides file. Therefore it is best to not set it and change elements one by one
// $background: $maincolor;

$body-background-color: $mainwhite; // main page background

// Sidebar
$documenter-sidebar-background: $maincolor !default; //background color for all sidebar
$documenter-sidebar-color: $mainwhite !default; //font color for all sidebar
$documenter-sidebar-menu-hover-color: $documenter-sidebar-color !default;
$documenter-sidebar-menu-hover-background: darken-color($documenter-sidebar-background, 2) !default;

$documenter-sidebar-menu-active-background: $mainwhite !default;
$documenter-sidebar-menu-active-color: $mainblack !default;
$documenter-sidebar-menu-active-hover-background: lighten-color($documenter-sidebar-background, 4) !default;
$documenter-sidebar-menu-active-hover-color: $documenter-sidebar-menu-active-color !default;

// this is the color the links get, and also when they are hovered
$link: $secondcolor;
$link-hover: $maincolor;

// Main text color:
$text: $mainblack;
// Bold text color, also affects headers
$text-strong: $boldcolor;

// Section headers (markdown ###) text color:
// TODO

// These two commands set the sidebar background color, as well as text color
$documenter-sidebar-background: $maincolor !default;
$documenter-sidebar-color: $mainblack !default;

// Code text color:
$code: #000000 !default;
//$code-background: rgba(0.5,0,0, 0.05);
$codebg: lighten-color($maincolor, 6);
// $codebg: lighten-color($secondcolor, 8);
$code-background: $codebg; // for inline code
$pre-background: $codebg;  // for code blocks

// main text font size
$body-font-size: 1.0em; // the default is 1.0

// sidebar font size
// TODO

// These commands set up the fonts for the main text and code blocks.
// the fonds must be included into the assets of the `makdocs` command, with e.g.
// format = Documenter.HTML(
//     prettyurls = CI,
//     assets = [
//         "assets/logo.ico",
//         asset("https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro&display=swap", class=:css),
//         ],
//     ),
$family-sans-serif: 'Montserrat', sans-serif;
$family-monospace: 'Source Code Pro', monospace;

// these two change what happens with input boxes (the search box):
$input-hover-border-color: $secondcolor;
$input-focus-border-color: $mainwhite;

// Include the original theme which will now use the updated variables.
// This should be the last thing in the SCSS file.
@import "documenter-light";

#documenter .docs-sidebar { // This makes sidebar have shadow at all displays
  border-right: none;
  box-shadow: 1.2*$shadow-size 0rem 1*$shadow-blur $shadow;

  form.docs-search > input { // these controls are for the searchbar
    color: $mainwhite;
    background-color: darken-color($documenter-sidebar-background, 1);
    border-color: darken-color($documenter-sidebar-background, 2);
    margin-top: 1.0rem;
    margin-bottom: 1.0rem; // adjust the margings between search and other elements
    &::placeholder {
      color: $mainwhite; // placeholder text color ("Search here...")
    }
  }
}
