@charset "UTF-8";

// This template file overrides some of the Documenter theme variables to customize the theme:
$themename: "documenter-light"; // CSS file must be called `$(themename).css`
// The customizable varibles can be found here:
// https://github.com/JuliaDocs/Documenter.jl/tree/master/assets/html/scss
// under documenter/_variables or documenter/_overrides. But some stuff are Bulma defaults
// as well, so you may need to look them up too: https://bulma.io/documentation/

$lightness-unit: 8% !default;
// Uses adjust-color to create a darker version of $color
@function darken-color($color, $factor) {
  @return adjust-color($color, $lightness: -$factor*$lightness-unit);
}
// Uses adjust-color to create a lighter version of $color
@function lighten-color($color, $factor) {
  @return adjust-color($color, $lightness: $factor*$lightness-unit);
}

// This defines the JuliaDynamics color scheme:
$maincolor: #7E57C2;
$maintext: #202020;
$linkcolor: #05a28d;
$linkcolor-hover: #0eb3c9;

// this sets the default background color for the documentation, affecting the sidebar color,
// the --- lines, as well as the codeblock background, and many other things, see
// the overrides file
$background: $maincolor;

// this is the color the links get, and also when they are hovered
$link: $linkcolor;
$link-hover: $linkcolor-hover;

// Main text color:
$text: #202020 !default;
// Bold text color, also affects headers
$text-strong: darken-color($maincolor, 2); !default;

// Section headers (markdown ###) text color:
// TODO

// These two commands set the sidebar background color, as well as text color
$documenter-sidebar-background: $maincolor !default;
$documenter-sidebar-color: #fff !default;

// Code text color:
$code: #000000 !default;
$code-background: rgb(50,50,50);

// main text font size
// TODO

// sidebar font size
// TODO

// These commands set up the fonts for the main text and code blocks.
// the fonds must be included into the assets of the `makdocs` command, with e.g.
// format = Documenter.HTML(
//     prettyurls = CI,
//     assets = [
//         "assets/logo.ico",
//         asset("https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro&display=swap", class=:css),
//         ],
//     ),
$family-sans-serif: 'Montserrat', sans-serif;
$family-monospace: 'Source Code Pro', monospace;

// Include the original theme which will now use the updated variables.
// This should be the last thing in the SCSS file.
@import "documenter-light";
