@charset "UTF-8";

// This template file overrides some of the Documenter theme variables to customize the theme:
$themename: "documenter-dark"; // CSS file must be called `$(themename).css`

$body-background-color: #0799eb; // main page background
$family-sans-serif: monospace;

html.theme--#{$themename} {
    @import "documenter-light";
}
